<nav class="navbar">
    <div id="menu-hamburger" class="menu-hamburger" onclick="toggleMenu('hamburger')">
        <!-- <img src="../assets/icons/hamburger.png" alt="Menu"> -->
    </div>
    <div class="logo">
        <img src="../assets/images/logo-removebg-preview.png" alt="Logo da Empresa">
    </div>
    <div id="user-icon" class="user-icon" onclick="toggleMenu('user')">
        <!-- <img src="../assets/icons/do-utilizador.png" alt="Usuário"> -->
    </div>
</nav>

<div id="side-menu" class="side-menu">
    <ul>
        <li>Visualizar histórico de entregas <span class="building">(em desenvolvimento)</span></li>
        <li>Consultar Planejamento de rota <span class="building">(em desenvolvimento)</span></li>
        <li>
            Entrar em contato com o suporte
            <span class="contact-number">WhatsApp: (85) 99841-0112</span>
        </li>
    </ul>
    <div class="version-info">Versão 1.0.0</div>
</div>

<div id="user-menu" class="side-menu user-menu">
    <ul>
        <li id="user-name"></li>
        <li class="role">Função: <span id="user-role"></span></li>
        <li id="logout"><a href="login.html">Sair</a></li>
    </ul>
</div>